{
   "hostname-postfix": ".ci.earthlinginteractive.com",
   "deployment-root": "/home/ppdo/deployments",
   "sendgrid-password": "sendgrid password goes here",
   "email-recipient-override": "{name}-dev@mailinator.com",
   "users": {
      "postgres": {
	 "username": "postgres",
	 "home-dir": "/"
      },
      "deployment-owner": {
	 "username": "ppdo",
	 "home-dir": "/home/ppdo"
      },
      "apache-manager": {
	 "username": "root",
	 "home-dir": "/root"
      }
   }
}
