CREATE DATABASE "{dbname}" WITH ENCODING 'UTF8' LC_COLLATE='en_US.utf8' LC_CTYPE='en_US.utf8' TEMPLATE=template0;
CREATE USER "{dbuser}" WITH PASSWORD '{dbpassword}';
GRANT ALL PRIVILEGES ON DATABASE "{dbname}" TO "{dbuser}";
